@model JQueryPostModelBinding.Web.Models.FormPostModel
<div>
    @Html.LabelFor(x => x.Title):
    <strong>
    @Html.DisplayFor(x => x.Title)
    </strong>
</div>
<div>
    @Html.LabelFor(x => x.Content):
    <strong>
    @Html.DisplayFor(x => x.Content)
    </strong>
</div>
